{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div id="featureDescription">
        <div id="featureDetails">
            <span id="featureTitle">Review and comment on proposed bills before they're introduced—or while they're pending—in Congress.</span>
            <h3>Legislation currently available for "Public Markup": </h3>
            <ul>
                {% for legislation in object_list %}
                <li><a href="{% url 'legislation_detail' legislation.slug %}" title="{{ legislation }}">{{ legislation }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <img alt="papers" src="{% static "images/img_papers.png" %}">
        <div class="clear"></div>
    </div>
    <!--<div id="currentBills">
        <h3>Legislation currently available for "Public Markup"</h3>
        <ul>
            {% for legislation in object_list %}
            <li><a href="{% url 'legislation_detail' legislation.slug %}" title="{{ legislation }}">{{ legislation }}</a></li>
            {% endfor %}
        </ul>
        <img alt="papers" src="{% static "images/img_papers.png" %}">
        <div class="clear"></div>
    </div>    -->

{% endblock %}