{% extends "legislation/base.html" %}
{% load comments %}
{% load markup %}

{% block title %}{{ section }} - {{ section.title.legislation }}{% endblock %}

{% block head %}
	<link rel="alternate" type="application/rss+xml" title="Comments on {{ section.title.legislation.name }}" href="http://publicmarkup.org/feed/comments/{{ section.title.legislation.slug }}/" />
{% endblock %}

{% block opengraph %}
    <meta property="og:title" content="{{ section }} | {{ legislation }}">
    <meta property="og:description" content="{{ legislation.summary|truncatewords:50 }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://publicmarkup.org{{ section.get_absolute_url }}">
{% endblock %}

{% block markuphead %}
    <h3 class="title-name">Title {{ section.title.roman_number }} - {{ section.title.name }}</h3>
    <h4 class="section-name">{{ section }}</h4>
{% endblock %}

{% block markupmeta %}
    {% get_comment_count for legislation.section section.id as comment_count %}
    <p class="legislation-meta">
        <a href="#title-outline">{{ comment_count }}</a> section comment{{ comment_count|pluralize }}
    </p>
{% endblock %}

{% block markupdetails %}
    {% if section.summary %}
        {% autoescape off %}{{ section.summary|urlizetrunc:"40" }}{% endautoescape %}
    {% endif %}
    <div class="section-text">
        {% autoescape off %}{{ section.text|textile }}{% endautoescape %}
    </div>
{% endblock %}

{% block markupcontent %}

    {% get_comment_list for legislation.section section.id as comment_list %}
    {% if comment_list %}
        <div id="comments">
            <h3>General Comments on {{ legislation }}</h3>
            <section class="comments">
                {% for comment in comment_list %}
                    <article id="comment_{{ comment.id }}">
                        <header{% if forloop.last %} id="latest-comment"{% endif %}>
                            <a href="{{ comment.get_content_object.get_absolute_url }}#comment_{{ comment.id }}">
                                {{ comment.user_name }} on {{ comment.submit_date|date:"F j, Y" }}
                            </a>
                        </header>
                        <div class="comment">
                            {{ comment.comment|markdown|urlizetrunc:"40" }}
                        </div>
                    </article>
                {% endfor %}
                <a name="last_comment"></a>
            </section>
        </div>
    {% endif %}

    {% if legislation.allow_comments %}
        <div id="comment_box">
            <h3 class="withTip">Comment on {{ legislation }}:</h3>
            <p class="tip">(You are commenting on this legislation as a whole. Comments on a specific section of the bill should be left within that section)</p>
            {% render_comment_form for legislation.section section.id %}
        </div>
    {% endif %}

						
                    	{% get_comment_list for legislation.section section.id as comment_list %}
                        {# <div id="section_section_container" class="pale_yellow"> #}
                        {#   #}
                        {#   #}
                        {#   #}
                        {#  <div id="section_nav"> #}
                        {#  <div id="section_nav_previous"> #}
                        {#      {% if previous_section %} #}
                        {#      {% get_comment_count for legislation.section previous_section.id as previous_comment_count %} #}
                        {#      <span class="section_walking"><a href="{{ previous_section.get_absolute_url }}" class="section_walking"> #}
                        {#      Sec. {{ previous_section.number }} ({{ previous_comment_count }} comment{{ previous_comment_count|pluralize }})</a></span> #}
                        {#      {% endif %} #}
                        {#  </div> #}
                        {#  <div id="section_nav_next"> #}
                        {#      {% if next_section %} #}
                        {#      {% get_comment_count for legislation.section next_section.id as next_comment_count %} #}
                        {#      <span class="section_walking"><a href="{{ next_section.get_absolute_url }}" class="section_walking"> #}
                        {#      Sec. {{ next_section.number }} ({{ next_comment_count }} comment{{ next_comment_count|pluralize }})</a></span> #}
                        {#      {% endif %} #}
                        {#  </div> #}
                        {# </div> #}
                        {#   #}
                        {#   #}
                        {# </div> #}
            {#           #}
            {#           #}
            {#           #}
            {#          <a name="comments_start"></a> #}
            {#          {% if comment_count %} #}
            {#          <div id="leg_comments_box"> #}
            {#                   #}
            {#                  <h2>{{ comment_count }} comment{{ comment_count|pluralize }} on {{ section }}</h2> #}
            {#                  <ul> #}
            {#                      {% for comment in comment_list %} #}
            {#                      <li id="comment_{{ comment.id }}"> #}
            {#                          {% if forloop.last %}<div id="latest-comment"></div>{% endif %} #}
            {#                          <p class="the_comment">{{ comment.comment|urlizetrunc:"40"|linebreaksbr }}</p> #}
            {#                          <span class="comment_attrib"> #}
            {#                              <a href="#comment_{{ comment.id }}" class="comment_attrib">posted by {{ comment.person_name }} at {{ comment.submit_date|date:"F j, Y" }}</a> #}
            {#                          </span> #}
            {#                      </li> #}
            {#                      {% endfor %} #}
            {#                  </ul> #}
            {#                  <a name="last_comment"></a> #}
            {#               #}
            {#               #}
            {#              <div id="lower_section_nav"> #}
            {#              <div id="lower_section_nav_previous"> #}
            {#                  {% if previous_section %} #}
            {#                  {% get_comment_count for legislation.section previous_section.id as previous_comment_count %} #}
            {#                  <span class="section_walking"><a href="{{ previous_section.get_absolute_url }}" class="section_walking"> #}
            {#                  Sec. {{ previous_section.number }} ({{ previous_comment_count }} comment{{ previous_comment_count|pluralize }})</a></span> #}
            {#                  {% endif %} #}
            {#              </div> #}
            {#              <div id="lower_section_nav_next"> #}
            {#                  {% if next_section %} #}
            {#                  {% get_comment_count for legislation.section next_section.id as next_comment_count %} #}
            {#                  <span class="section_walking"><a href="{{ next_section.get_absolute_url }}" class="section_walking"> #}
            {#                  Sec. {{ next_section.number }} ({{ next_comment_count }} comment{{ next_comment_count|pluralize }})</a></span> #}
            {#                  {% endif %} #}
            {#              </div> #}
            {#          </div> #}
            {#               #}
            {#               #}
            {#              </div> #}
            {#               #}
            {#           #}
            {#               #}
            {#  #}
            {#          {% endif %} #}
            {#           #}
            {#           #}
            {#           #}
            {#           #}
            {#           #}
            {#           #}
            {#      </div> #}
            {#       #}
            {#      {% if section.title.legislation.allow_comments %} #}
            {#      <div class="yui-g"> #}
            {#          <div id="container2" > #}
            {#              <div id="content2">  #}
            {#                   #}
            {#                  <a name="comment_form"></a> #}
            {#                  <div id="comment_box"> #}
            {#                  <h1>Comment on {{ section }}</h1> #}
            {#                  <p class="comment_disclaimer_leg">(You may comment anonymously. Moderators may remove offensive or off-topic comments.)</p> #}
            {#                      {% render_comment_form for legislation.section section.id %} #}
            {#                  </div> #}
            {#              </div> #}
            {#          </div> #}
            {#      </div> #}
            {#      {% endif %} #}
            {#  </div> #}
            {# </div> #}
    {# <script type="text/javascript" charset="utf-8"> #}
    {#  Sunlight.Application.addLoadEvent(function() { #}
    {#      var commentContainers = YAHOO.util.Dom.getElementsByClassName('section-comment-container', 'div'); #}
    {#      for (var i = 0; i < commentContainers.length; i++) { #}
    {#          var commentContainer = commentContainers[i]; #}
    {#          var commentControl = YAHOO.util.Dom.getElementsByClassName('section-comment-control', 'a', commentContainer)[0]; #}
    {#          commentControl.onclick = function() { #}
    {#              this.style.display = 'none'; #}
    {#              var commentForm = YAHOO.util.Dom.getElementsByClassName('section-comment-form', 'div', this.parentNode)[0]; #}
    {#              commentForm.style.display = 'inline'; #}
    {#              return false; #}
    {#          }; #}
    {#      } #}
    {#  }); #}
    {# </script> #}	
{% endblock %}
