html { font-size: 80%; margin: 0; padding: 0; }
body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    text-align: center;
}

.clear { clear: both; }

a, a:visited, a:active { color: #5F728C; }

/* main layout styles */

#container {
    margin: 0 auto;
    text-align: left;
    width: 960px;
}

header[role=banner] {
    background-color: #5F728C;
    margin-bottom: 0.2em;
    padding: 1em;
}
header[role=banner] h1 {
    font-family: Neuton;
    margin: 0;
    padding: 0;
}

/* tite styles */

h2.legislation-name { margin: 2em 0; }
h2.legislation-name a {
    color: #000;
    font-size: 160%;
    text-decoration: none;
}
h2.legislation-name a:hover { color: #5F728C; }
h3 { margin: 0 0 1em 0; }
h3.title-name {
    color: #333;
    font-size: 170%;
}
p.legislation-meta {
    margin-top: 0;
    padding: 0.2em 0.2em;
}

/*
 * main title navigation
 */ 

nav.titles {
    border-bottom: 2px solid #444;
    border-top: 2px solid #444;
    float: left;
    width: 250px;
}
nav.titles ol { list-style: none; margin: 0; padding: 0; }
nav.titles ol ol { margin-left: 1em; }
nav.titles li { border-bottom: 1px solid #CCC; }
nav.titles li:last-child { border-bottom: 0; }
nav.titles a {
    background-color: #FFFFFF;
    color: #333;
    display: block;
    font-size: 90%;
    line-height: 1.5em;
    padding: 1em 0.5em;
    text-decoration: none;
}
nav.titles a:hover { background-color: #EEE; }
nav.titles a b { color: #000; display: block; }

/* main section container */

section.markup {
    float: right;
    width: 690px;
}
span.nocomment {
    background-color: #953931;
    color: #FFF;
    float: right;
    padding: 5px 15px;
       -moz-border-radius: 10px; /* FF1+ */
    -webkit-border-radius: 10px; /* Saf3-4 */
            border-radius: 10px; /* Opera 10.5, IE9, Saf5, Chrome */;
}

div.markup-details {
    background-color: #F1F8EA;
    font-family: Neuton;
	line-height: 150%;
    padding: 1em 2em;
}
div.markup-details p { margin-bottom: 1em; }

ol.legislation-outline { list-style-type: none; padding-left: 1em; }
ol.legislation-outline > li { margin: 2em 0; }
ol.legislation-outline a { color: #333; text-decoration: none; }
ol.legislation-outline a.title {
    font-weight: bold;
}
ol.legislation-outline a:hover { color: #5F728C; }
ol.section-outline { list-style-type: none; margin: 1em 0 2em; padding-left: 1em; }
ol.section-outline li { margin-bottom: 0.8em; }


section.comments { margin-left: 1em; }
section.comments article { margin: 2em 0; }
section.comments header { margin-bottom: 0.3em; }
section.comments header a { color: #333; text-decoration: none; }
section.comments header a:hover { color: #5F728C; }
section.comments div.comment {
    background-color: #F1F8EA;
    color: #333;
    display: block;
    font-family: Neuton;
    padding: 1em;
    text-decoration: none;
}

article.section { background-color: #F1F8EA; clear: both; }
article.section aside {
    float: right;
    font-size: 85%;
    margin: 0 0 4em 4em;
    padding: 1em;
    width: 240px;
}

article.section h4 { border-bottom: 1px solid #000; padding: 1em; }
article.section h4 a { text-decoration: none; }

article.section div.section-text {
    font-family: Neuton;
    font-size: 90%;
    padding: 0.5em 2em;
}
article.section div.section-text p { margin: 0 0 1em 0; padding: 0; }
article.section div.section-text ol { padding: 0 0 0 2em; }
article.section div.section-text li { margin: 0; padding: 0; }
article.section div.section-text ol li { list-style: lower-alpha outside; }
article.section div.section-text ol ol li { list-style: decimal outside; }

article.section div.section-comments {
    
}
article.section div.section-comments h5 { font-size: 120%; margin: 0.3em 0 1em; }
article.section div.section-comments ol { list-style: none; padding: 0; }
article.section div.section-comments ol a {
    color: #999;
    text-decoration: none;
}
article.section div.section-comments ol a:hover { color: #333; }

/*
 * forms
 */
form ul { list-style: none; margin: 0; padding: 0; }
form ul li { clear: both; }
form ul li.hidden { display: none; }
form ul li label {
	display: block;
	float: left;
	padding-top: 2px;
	width: 120px;
}
form ul li label[for=id_humanity_answer] { width: 240px; }