/*  HTML5 ✰ Boilerplate  */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, 
menu, nav, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ul { list-style: none; }
blockquote, q { 
	background:url('../images/quotes.png') 12px top no-repeat ;
	quotes: '»' '«' ;
	margin-left:30px;
    padding-left:35px;
    border-left: 1px solid #E5E4DB;
	color: #726B68; }
	
.pull_left, .pull_right { 
	background:url('../images/quotes.png') 12px top no-repeat ;
	margin-left:30px;
	padding-left:35px;
	margin-right: 65px;
	color: #726B68;
	font-family: Georgia, "Times New Roman", Times, serif; 
	font-style: oblique; 
	font-size: 130%; 
	display: block;
	line-height: 2;
	}
	
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }

body { color: #494442; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; line-height: 22px; font-size: 13px; background-color: #f5f5ee;} 
select, input, textarea, button { font: 99% sans-serif; }
button.disabled { opacity: 0.3; filter: alpha(opacity=30); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }
p { margin-bottom: 1em;}

a:hover, a:active { outline: none; }
a, a:active, a:visited { color: #2f4867; }
a:hover { color: #5F728C; }

.clear { clear: both; }

html { font-size: 80%; margin: 0; padding: 0; }
nav ul, nav li { margin: 0; } 
small { font-size: 85%; }
strong, th, b { font-weight: bold; }
td, td img { vertical-align: top; } 
sub { vertical-align: sub; font-size: smaller; line-height:1px;}
sup { vertical-align: super; font-size: smaller; }
pre {  padding: 15px;  white-space: pre;  white-space: pre-wrap;  white-space: pre-line;  word-wrap: break-word; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit] { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:invalid, textarea:invalid { border-radius: 1px;  -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red;  box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { background-color: #f0dddd; }

header#mainHeader, footer, #pageMain { margin: 0 auto; width: 940px; padding: 0 10px; display: block;}
header#mainHeader { background: url(../images/bg_header.jpg) center bottom no-repeat; height: 150px; margin-bottom: 50px; margin-top: 15px;}

.tip { color: #797171; font-family: Georgia, "Times New Roman", Times, serif; font-style: oblique; font-size: 95%; margin-bottom: 20px; line-height: 18px;}

h1 { width: 265px; height: 79px; float: left; padding-top: 35px;}
h1 a { text-indent: -9999em; display: block; width: 265px; height: 79px; background: url(../images/logo.png) top left no-repeat;}

#sunlightProduct { font-family: Georgia, "Times New Roman", Times, serif; font-style: oblique; font-size: 95%; color: #5f8e97; left: -250px; position: relative; top: -12px;}
#sunlightProduct a:active, #sunlightProduct a:link, #sunlightProduct a:visited, #sunlightProduct a { color: #5F8E97;}
#sunlightProduct a:hover { color: #2F4867; }

#signup { float: right; width: 530px; padding-top: 23px; text-align: right; font-family: Georgia, "Times New Roman", Times, serif;}
#signup label { font-size: 96%; line-height: 20px; margin-bottom: 10px; display: block; text-align: right; }
#id_zipcode { width: 100px;}

input { border: 1px solid #e3e2dd; padding: 3px 5px; color: #8e8987;} 

#featureTitle { font-size: 260%; line-height: 45px; font-family: Georgia, "Times New Roman", Times, serif;  font-style: oblique; color: #4c4242; display: block; margin-bottom: 25px; background: url(../images/line.jpg) center bottom repeat-x; padding-bottom: 30px; margin-bottom: 30px;}
#featureAction { color: #797171; font-size: 110%; margin-top: 10px; display: block; font-family: Georgia, "Times New Roman", Times, serif; font-style: oblique;}
#featureDetails { float: left; width: 680px; text-align: left; }
#featureDetails h3 { color: #7b6f6f; margin-bottom: 15px;}
#featureDescription img { float: right; margin-top: 80px; }

#currentBills { background-color: #EBE9E5; border: 1px solid #DBD9D4; text-align: left; padding: 20px;}
#currentBills ul { float: left; width: 650px;}
#featureDescription li { font-size: 110%; margin-bottom: 15px; background: url(../images/icon_arrows.png) left 7px no-repeat; padding-left: 25px; margin-left: 30px;}


footer { margin-top: 80px; margin-bottom: 30px; background: url(../images/bg_gradient.jpg) center 11px no-repeat;}
footer nav li { display: inline;}
footer nav li a { text-transform: uppercase; text-decoration: none;}
footer nav { margin-top: -30px; border-top: 10px solid; border-bottom: 2px solid #d3d0cd; padding: 8px 0 8px;}
#navAbout { border-right: 1px dashed #d3d0cd; padding-right: 20px; margin-right: 20px;}

#footerDetails { padding-top: 20px;}
a#foundationlogo { text-indent: -9999em; display: block; background: url(../images/sfLogo.png) center top no-repeat; width: 135px; height: 64px; float: left; margin-right: 15px; padding-right: 15px; border-right: 1px dashed #d3d0cd; }
#privacyPolicy { float: left; width: 700px; font-size: 92%; font-family: Georgia, "Times New Roman", Times, serif; font-style: oblique; text-align: left; line-height: 18px; margin-top: 10px;}

/* tite styles */

h2 { font-size: 200%; font-family: Georgia, "Times New Roman", Times, serif;}
h2.legislation-name a { text-decoration: none; }

h3 { font-size: 170%; font-family: Georgia, "Times New Roman", Times, serif; margin-bottom: 25px; line-height: 30px; width: 600px;}
.withTip { margin-bottom: 5px;}
h3.title-name { color: #333; font-size: 170%; }
p.legislation-meta { margin: 5px 0 30px; font-family: Georgia, "Times New Roman", Times, serif; font-style: oblique; }

#ltColumn { width: 605px; text-align: left;}
#ltColumn h2 { margin-bottom: 30px; }

/*
 * main title navigation
 */ 

nav.titles {
    border-bottom: 2px solid #8c8885;
    border-top: 2px solid #8c8885;
    float: left;
    width: 215px;
    margin-right: 15px;
}
nav.titles ol { list-style: none; margin: 0; padding: 0; }
nav.titles ol ol a { background-color: #edece8; }
nav.titles li { border-bottom: 1px solid #CCC; }
nav.titles li:last-child { border-bottom: 0; }
nav.titles a {
    background-color: #FFFFFF;
    color: #333;
    display: block;
    font-size: 90%;
    line-height: 1.5em;
    padding: 1em 0.5em;
    text-decoration: none;
}
nav.titles a:hover { background-color: #EEE; }
nav.titles a b { color: #000; display: block; }

nav a.print {
	background-color: #EBE9E5;
    border-top: 2px solid #8c8885;
	font-weight: bold;
}

/* main section container */

section.markup {
    float: left;
    width: 695px;
    margin-left: 15px;
    text-align: left;
}

span.nocomment {
    background-color: #e89984;
    color: #FFF;
    padding: 5px 15px;
    border: 1px solid #e36544;
    display: block;
    margin-bottom: 30px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: oblique;
}

ul.messages li {
	background-color: #BD3;
    color: #000;
    padding: 5px 15px;
    border: 1px solid #9B1;
    display: block;
    margin-bottom: 30px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: oblique;
}

div.markup-details {
    background-color: #ebe9e5;
    border: 1px solid #dbd9d4;
	line-height: 150%;
    padding: 20px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
div.markup-details p { margin-bottom: 1em; }

ol.legislation-outline { list-style-type: none; padding-left: 1em; }
ol.legislation-outline > li { margin: 2em 0; }
ol.legislation-outline a { color: #333; text-decoration: none; }
ol.legislation-outline a.title {
    font-weight: bold;
}
ol.legislation-outline a:hover { color: #5F728C; }
ol.section-outline { list-style-type: none; margin: 1em 0 2em; padding-left: 1em; }
ol.section-outline li { margin-bottom: 0.8em; }


section.comments { margin-left: 1em; }
section.comments header { margin-bottom: 0.3em; }
section.comments header a { color: #333; text-decoration: none; }
section.comments header a:hover { color: #5F728C; }


article.section { clear: both; }
article.section aside {
    float: right;
    font-size: 85%;
    margin: 0 0 4em 4em;
    padding: 1em;
    width: 240px;
    background-color: #E7E7E3;
    border: 1px solid #C5CBCC;
}

article { background: url(../images/line.jpg) center bottom repeat-x; margin-bottom: 20px; padding-bottom: 20px; color: #797171;}
article header { font-family: Georgia, "Times New Roman", Times, serif; font-size: 110%;}
#comments { margin-top: 80px;}

article.section h4 { border-bottom: 1px solid #000; padding: 1em; }
article.section h4 a { text-decoration: none; }

div.section-text {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 90%;
    padding: 0.5em 2em;
}
div.section-text p { margin: 0 0 1em 0; padding: 0; }
div.section-text ol { padding: 0 0 0 2em; }
div.section-text li { margin: 0; padding: 0; }
div.section-text ol li { list-style: lower-alpha outside; }
div.section-text ol ol li { list-style: decimal outside; }
div.section-text ol ol ol li { list-style: upper-alpha outside; }
div.section-text ol ol ol ol li { list-style: lower-roman outside; }
div.section-text ol ol ol ol ol li { list-style: upper-roman outside; }

article.section div.section-comments h5 { font-size: 120%; margin: 0.3em 0 1em; }
article.section div.section-comments ol { list-style: none; padding: 0; }
article.section div.section-comments ol a {
    color: #999;
    text-decoration: none;
}
article.section div.section-comments ol a:hover { color: #333; }

/*
 * forms
 */
#comment-form li { border-bottom: 1px dashed #c5cbcc; width: 550px; }
#comment-form label {  padding: 10px 0;}
#comment-form input, #comment-form textarea { background-color: #E7E7E3; border: 1px solid #E7E7E3; width: 375px; padding: 13px 15px; border-left: 1px solid #c5cbcc;}
#comment-form .buttonli { border-bottom: none;}
#comment_box { background-color: #e7e7e3; padding: 20px; border: 1px solid #c5cbcc; margin: 10px 0 30px 0; width: 653px; }

#comment-form #previewBtn { float: left;}
#comment-form #previewBtn, #comment-form #postBtn { margin-top: 30px; width: auto;}
#comment-form #postBtn { margin-left: 15px; float: left; width: 81px; }

.hidden { display: none;}

form ul li label {
	display: block;
	float: left;
	padding-top: 2px;
	width: 120px;
}
form ul li label[for=id_humanity_answer] { width: 240px; }
#testForm { background-color: #d8d8d4; padding: 5px 10px;}

button { text-indent: -9999em; display: block; cursor: pointer; border: none;}
#signupBtn { background: url(../images/btn_signup.png) top left no-repeat; width: 84px; height: 22px; float: right; margin-left: 15px; margin-top:2px;}
#signupBtn:hover { background: url(../images/btn_signup.png) bottom left no-repeat; }
.sendbutton { background: url(../images/btn_send.png) top left no-repeat; width: 81px; height: 37px; margin-top: 30px;}
.sendbutton:hover { background: url(../images/btn_send.png) bottom left no-repeat; }
.submit-preview { background: url(../images/btn_preview.png) top left no-repeat; width: 118px; height: 37px;}
.submit-preview:hover { background: url(../images/btn_preview.png) bottom left no-repeat; }
.submit-post { background: url(../images/btn_post.png) top left no-repeat; width: 81px; height: 37px; }
.submit-post:hover { background: url(../images/btn_post.png) bottom left no-repeat; }

ul.errorlist { color: #933; font-weight: bold; }
ul.errorlist li { text-align: left; }

ul.legislation-list {
	
}
ul.legislation-list li { list-style: disc outside; padding-left: 5px; margin-left: 20px; }

iframe { display: block; margin: 1em 0; }