{% extends "index.html" %}

{% block content %}
	<div id="doc4" class="yui-t7">
		{% include "header.html" %}
		
<div id="bd">
	<div class="yui-g">
		
		<div style="background-image:url(http://media.publicmarkup.org/images/error_bg.jpg); height:357px; margin-top:1em;">
		
			<div style="margin-left:5em; padding-top:5em; width:25em;"><a href="/">
			<h2 class="error">&#8220;The wise know that foolish legislation is a rope of sand, which perishes in the twisting.&#8221; </h2></a>
				<div class="bolded" style="text-align:right;">-Ralph Waldo Emerson</div>
			</div>
		
		</div>
		
	</div>	
</div>		
		
		{% include "footer.html" %}
	</div>
{% endblock %}