{% extends "legislation/base.html" %}
{% load comments %}
{% load markup %}

{% block title %}{{ legislation }}{% endblock %}

{% block head %}
    <link rel="alternate" type="application/rss+xml" title="Comments on {{ legislation.name }}" href="http://publicmarkup.org/feed/comments/{{ legislation.slug }}/" />
{% endblock %}

{% block opengraph %}
    <meta property="og:title" content="{{ legislation }}">
    <meta property="og:description" content="{{ legislation.summary|truncatewords:50 }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://publicmarkup.org{{ legislation.get_absolute_url }}">
{% endblock %}

{% block markupmeta %}
    {% get_comment_count for legislation.legislation legislation.id as comment_count %}
    <p class="legislation-meta">
        {% with legislation.get_sections_comment_count as section_comment_count %}
            <a href="#comments" class="leg_comment">{{ comment_count }}</a> bill comment{{ comment_count|pluralize }},
            <a href="#legislation-outline">{{ section_comment_count }}</a> section comment{{ section_comment_count|pluralize }}
        {% endwith %}
    </p>
{% endblock %}

{% block markupdetails %}
    <iframe src="http://www.facebook.com/plugins/like.php?href=http://publicmarkup.org{{ legislation.get_absolute_url }}&amp;layout=standard&amp;show_faces=false&amp;width=450&amp;action=like&amp;colorscheme=light&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:35px;" allowTransparency="true"></iframe>
    {% autoescape off %}
        {{ legislation.summary|urlizetrunc:"40" }}
    {% endautoescape %}
{% endblock %}

{% block markupcontent %}

    {% if legislation.titles %}
        <ol id="legislation-outline" class="legislation-outline">
            {% for title in legislation.titles.all %}
                <li id="legislation_list_title">
                    <a href="{% url title_detail legislation.slug,title.number %}" class="title">{{ title }}</a>
                    {% if title.sections %}
                        <ol class="section-outline">
                            {% for section in title.sections.all %}
                                {% get_comment_count for legislation.section section.id as comment_count %}
                                <li>
                                    <a href="{% url section_detail legislation.slug,title.number,section.number %}">{{ section }}</a>
                                    {% if comment_count %}
                                        ({{ comment_count }} comment{{ comment_count|pluralize }})
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ol>
                    {% endif %}
                </li>
            {% endfor %}
        </ol>
    {% endif %}
    
    {% get_comment_list for legislation.legislation legislation.id as comment_list %}
    {% if comment_list %}
        <div id="comments">
            <h3>General Comments on {{ legislation }}</h3>
            <section class="comments">
                {% for comment in comment_list %}
                    <article id="comment_{{ comment.id }}">
                        <header{% if forloop.last %} id="latest-comment"{% endif %}>
                            <a href="{{ comment.get_content_object.get_absolute_url }}#comment_{{ comment.id }}">
                                {{ comment.user_name }} on {{ comment.submit_date|date:"F j, Y" }}
                            </a>
                        </header>
                        <div class="comment">
                            {{ comment.comment|markdown|urlizetrunc:"40" }}
                        </div>
                    </article>
                {% endfor %}
                <a name="last_comment"></a>
            </section>
        </div>
    {% endif %}

    {% if legislation.allow_comments %}
        <div id="comment_box">
            <h3 class="withTip">Comment on {{ legislation }}:</h3>
            <p class="tip">(You are commenting on this legislation as a whole. Comments on a specific section of the bill should be left within that section)</p>
            {% render_comment_form for legislation.legislation legislation.id %}
        </div>
    {% endif %}

{% endblock %}
