{% extends "base.html" %}

{% block title %}About Public Markup{% endblock %}

{% block content %}
<div id="ltColumn">
    <h2>About Public Markup</h2>
    <p>After preparing and drafting a comprehensive piece of legislation, <a href="http://www.sunlightfoundation.com">Sunlight </a> decided that public input and scrutiny would refine the bill and improve its chances of garnering lawmakers' support. Rather than immediately looking for legislators who might sponsor the bill, Sunlight, therefore, created PublicMarkup.org as a place to post the bill, and to allow you to comment on and suggest edits to the substance of the legislation. </p>

    <p>
    <img src="http://media.publicmarkup.org/images/pdf.png"> <a href="http://media.publicmarkup.org/docs/Transparency_Act_2008_Revised_PublicMarkup.pdf">A PDF of the revised bill</a> is available, as well as the <a href="http://media.publicmarkup.org/docs/Transparency_Act_2008_PublicMarkup.pdf">original version</a>.</p>

    <p>This project is not intended to be the ultimate technical solution to the challenge of drafting legislation online, but an experiment in online collaboration. By collecting legislation, summaries, resources and commentary in a single linkable location, PublicMarkup.org provides a simple, blog-like framework for soliciting feedback on this legislation.</p>

    <p>In addition to drawing on bills that have already been introduced, several provisions of the Transparency in Government Act of 2008 are the result of the collaborative work of the <a href="http://www.theopenhouseproject.com/">Open House Project</a>.

    <p><a href="http://www.publicmarkup.org/bill/transparency-government-act-2008/">Transparency in Government Act of 2008</a></p>

    <small>Special thanks to <a href="http://www.nudonation.com/2007/07/24/descarga-los-n-chrome-icons-v20/">NudoNation</a> for the Chrome Document Icon.</small>
</div>
{% endblock %}