{% extends "base.html" %}

{% block title %}Contact Sunlight Foundation About Public Markup{% endblock %}

{% block content %}
<div id="ltColumn">
    <h2>Contact Us</h2>
    <form id="comment_box" action="." method="get">
        <ul id="comment-form">
            <li>
                <label for="id_name">Name</label>
                <input type="name" name="name" id="id_name">
            </li>    
            <li>
                <label for="id_email">Email</label>
                <input type="email" name="email" id="id_email">
            </li>
            <li>
                <label for="id_comment">Comment</label>
                <textarea class="textarea" name="text" cols="32" rows="5"></textarea>
            </li>
            <li class="buttonli">
		        <button class="sendbutton" type="submit">
    				<span>Send</span>
    			</button>
		    </li>
        </ul>    
    </form>
    <p class="tip">For press inquiries, contact Sunlight's Communications Director, Gabriela Schneider, at 202/742-1520 ext 236 or gschneider at sunlightfoundation dot com </p>
</div>    
{% endblock %}