{% extends "base.html" %}

{% block title %}Contact Sunlight Foundation About Public Markup{% endblock %}

{% block content %}
<div id="ltColumn">
    <h2>Contact Us</h2>
    <p>To leave feedback on legislation posted to PublicMarkup.org, follow the instruction on the bill's comment page. You can comment on the entire bill or on specific sections. 
    </p><p>
    For press inquiries, contact Sunlight's Communications Director, Gabriela Schneider, at 202/742-1520 ext 236 or gschneider at sunlightfoundation dot com 
    </p><p>
    To inquire about the PublicMarkup.org project, send an email using Sunlight's <a href="http://www.sunlightfoundation.com/contact">contact form</a> and be sure to include "Attn: Lisa Rosenberg" in the first line of your message. 
     </p>
</div>    
{% endblock %}