{% extends "base.html" %}

{% block content %}
    <div id="featureDescription">
        <h2>Welcome to Public Markup</h2>
        <p>Welcome to PublicMarkup.org, an ongoing experiment in preparing legislation more inclusively by opening bills to online, public review.</p>
        <p>PublicMarkup.org gives you the opportunity to review and comment on proposed bills before they're even introduced—or while they're pending—in Congress.</p>
    </div>
    <div id="currentBills">
        <h3>Legislation currently available for "Public Markup"</h3>
        <ul>
            {% for legislation in object_list %}
            <li><a href="{% url legislation_detail legislation.slug %}" title="{{ legislation }}">{{ legislation }}</a></li>
            {% endfor %}
        </ul>    
    </div>    
    
{% endblock %}