{% load comments i18n %}

<form action="#comment-form" method="post" id="comment-form">
    {% csrf_token %}
    {% if next %}
        <input type="hidden" name="next" value="{{ next }}" />
    {% else %}
        {% if section %}
            <input type="hidden" name="next" value="{{ section.get_absolute_url }}#last_comment" />
        {% else %}
            <input type="hidden" name="next" value="{{ legislation.get_absolute_url }}#last_comment" />
        {% endif %}
    {% endif %}
    {% for field in form.hidden_fields %}
        {{ field }}
    {% endfor %}
    <ul>
        {% for field in form.visible_fields %}
            {% if field.errors %}{{ field.errors }}{% endif %}
            <li class="field_{{ field.name }}{% if field.errors %} error{% endif %}{% ifequal field.name "honeypot" %} hidden{% endifequal %}">
                {{ field.label_tag }}
                {{ field }}
            </li>
        {% endfor %}
            <li id="testForm">
                {{ human_form }}
            </li>
            <!--    
            <li id="previewBtn" class="buttonli">
                <button type="submit" name="preview" class="submit-preview">
                    <span>Preview</span>
                </button>
            </li>
            -->
            <li id="postBtn" class="buttonli">
                <button type="submit" name="post" class="submit-post">
                    <span>Post</span>
                </button>
            </li>    
    </ul>
    <div class="clear"></div>
</form>
