{% extends "base.html" %}
{% load comments %}
{% load i18n %}

{% block title %}{% trans "Preview your comment" %}{% endblock %}

{% block content %}

    <h2>Sorry, we need you to change your comment.</h2>
    
    <div id="comment_box">
        <form action="#comment-form" method="post" id="comment-form">
            {% csrf_token %}
            {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
            <input type="hidden" name="humanity" value="human" />
            {% for field in form.hidden_fields %}
                {{ field }}
            {% endfor %}
            <ul>
                {% for field in form.visible_fields %}
                    {% if field.errors %}{{ field.errors }}{% endif %}
                    <li class="field_{{ field.name}}{% if field.errors %} error{% endif %}"{% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
                        {{ field.label_tag }}
                        {{ field }}
                    </li>
                {% endfor %}
                <li id="postBtn" class="buttonli">
                    <button type="submit" name="post" class="submit-post">
                        <span>Post</span>
                    </button>
                </li>
            </ul>   
        </form>
    </div>

{% endblock %}